<!doctype html>
<html>
<head>
</head>
<body>
<script>
/*jslint vars: true, plusplus: true, devel:true, browser: true */

var Leaf = {};

(function (window, Leaf) {
    'use strict';

    {% include redirs.js %}

    Leaf.redirect = function (path) {
        var loc = '', i, j, ilen, jlen;

        for (i = 0, ilen = redirs.length; i < ilen; i++) {
            for (j = 0, jlen = redirs[i].urls.length; j < jlen; j++) {
                if ('/' + redirs[i].urls[j] + '/' === path) {
                    loc = redirs[i].dest;
                }
            }
        }

        if (loc === '' || loc === '/') {
            loc = 'http://leafelectro.com';
        }

        console.log('Redirecting from ' + path + ' to ' + loc + ' (from GitHub Page).');
        //window.location = loc;
    };

    var path = window.location.pathname;
    Leaf.redirect(path);

}(window, Leaf));

</script>
</body>
</html>