<!doctype html>
<html>
<head>
    <style>
        body {
            font-family: Helvetica, Arial, sans-serif;
            color: #333;
            font-size: 14px;
            padding: 10px;
        }

        a, a:hover, a:visited {
            color: #1773db;
            text-decoration: none;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            display: inline-block;
            vertical-align: bottom;
            width: 300px;
        }
    </style>
</head>
<body>
You are being redirected to {{ content }}
<form name="back-button-protection" style="display: none">
    <input type="hidden" id="redirect" name="redirect" value="true" />
</form>
<script>

(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-43602258-2', 'auto');


/*jslint vars: true, plusplus: true, devel:true, browser: true */

var Leaf = {};

(function (window, Leaf) {
    'use strict';

    {% include redirs.js %}

    Leaf.getLoc = function (path, redirs) {
        var loc = '';

        for (var i = 0, ilen = redirs.length; i < ilen; i++) {
            for (var j = 0, jlen = redirs[i].urls.length; j < jlen; j++) {
                if ('/' + redirs[i].urls[j] === path) {
                    loc = redirs[i].dest;
                }
            }
        }

        // leaf.im default redirection
        if (loc === '' || loc === '/') {
            loc = 'http://leafelectro.com';
        }

        return loc;
    };

    Leaf.cleanPath = function(path) {
        // Trim leafelectro/github.io/leaf.im/ URL
        if (path.indexOf('/leaf.im') > -1) {
            path = path.substring(8);
        }

        // Remove trailing whitespace added by GitHub page
        if (path !== '/') {
            if (path.charAt(path.length - 1) === '/') {
                path = path.substr(0, path.length - 1);
            }
        }

        return path;
    };

    Leaf.redirect = function (path, loc) {
        ga('send', {
            'hitType': 'pageview',
            'page': path,
            'hitCallback': function () {
                console.log('GA pageview call finished');
                ga('send', {
                    'hitType': 'event',
                    'eventCategory': loc,
                    'eventAction': path,
                    'eventLabel': document.referrer,
                    'eventValue': true,
                    'hitCallback': function () {
                        console.log('GA event call finished');
                        console.log('Redirecting from ' + path + ' to ' + loc + '.');
                        window.location = loc;
                    }
                });
                console.log('GA event call initiated (category=' + loc + ', action=' + path + ', label[referrer]=' + document.referrer + ')');
            }
        });
        console.log('GA pageview call initiated (page=' + path + ').');
    };

    var redirectInput = document.getElementById('redirect');
    var doRedirect = redirectInput.value;
    redirectInput.value = 'false';

    var path = Leaf.cleanPath(window.location.pathname);
    var loc = Leaf.getLoc(path, redirs);

    if (doRedirect == 'true') {
        Leaf.redirect(path, loc);
    }

}(window, Leaf));

</script>
</body>
</html>